/* ================= collection css ================== */
.page-breadcum p {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #8f8faa;
  word-break: break-all;
}

.page-breadcum a {
  color: #8f8faa;
}

.list-title .pushRight {
  float: right;
}

.pushRight img {
  cursor: pointer;
}

.custom-input {
  height: 40px;
  border-radius: 5px;
  border: solid 1px #dde2ee;
  background-color: #ffffff;
  font-size: 12px;
  color: #8f8faa;
  text-transform: capitalize;
}

.custom-input::placeholder {
  font-size: 12px;
  color: #8f8faa;
  line-height: 20px;
  font-size: 12px;
  color: #8f8faa;
}

.custom-input:focus {
  border: solid 1px #dde2ee;
  box-shadow: inherit;
}

.input-group-append {
  background: transparent;
  cursor: pointer;
}

.input-group-text {
  border-left: 0px !important;
  background-color: #ffffff;
  border-color: #dde2ee;
}

.input-group .custom-input {
  border-right: 0px;
}


.left-panel {
  /*padding: 25px 30px;*/
  padding-bottom: 18px;
  z-index: 0;
  background: #ffffff;
  max-width: 321px;
  width: 100%;
  border-right: solid 1px #dde2ee;
}



.custom-row1 {
  display: flex;
}

.page-title-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #8f8faa;
}

.custom-dropdown::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 0.3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 16px;
}


.custom-dropdown {
  /* min-width: 165px; */
  max-width: 210px;
  padding-right: 30px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #dde2ee;
  background-color: #ffffff;
  position: relative;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: #494a7f;
  line-height: 25px;

}

.custom-dropdown:focus {
  box-shadow: inherit;
}

.active i:before {
  color: #555ff6;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  background: #dde2ee;
}

.shart-convers-header {
  background: #f4f8ff;
}

.shart-convers-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #494a7f;
}

.search-collection {
  padding: 25px 30px;
}

.start-convers-header {
  padding: 15px 30px;
  border-top: solid 1px #dde2ee;
  border-bottom: solid 1px #dde2ee;
}

.start-list-wrapp {
  padding: 15px 30px;
}

.list-title {
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  color: #494a7f;
  /* text-transform: uppercase; */
}

.convers-list-text {
  font-size: 14px;
  font-stretch: normal;
  line-height: 24px;
  color: #494a7f;
  font-weight: normal;
  cursor: pointer;
}

.convers-list-ul li {
  border-bottom: solid 1px #dde2ee;
  padding: 15px 0px;
}

.convers-list-ul li:last-child {
  border-bottom: 0px;
}

.msgBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, 40%);
}

.msgBox .msgText p {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #8f8faa;
  width: 58%;
  margin: 30px auto;
}

.sidebar-list li.active {
  background-color: #f4f8ff;
}

.sidebar-list li.active .convers-list-text {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #494a7f;
}

/* sidebar css */
.sidebar .starred-conversation {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.sidebar .border-top-bottom {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.sidebar .border-bottom {
  border-bottom: 1px solid #ddd;
}

.sidebar .shared-title {
  padding: 12px 30px;
}

.sidebar .sidebar-list li {
  padding: 0 30px;
}

.sidebar .sidebar-list li .sidebar-text {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.sidebar .sidebar-list a:last-child .sidebar-text {
  border: none;
}

/* ============= modal css ================= */
/* .modal-open #wrapper{
  filter: blur(4px);
} */

.modal-open .conversation-wrapp {
  filter: blur(4px);
}

.modal-dialog {
  max-width: 582px;
  top: 50%;
  transform: translate(0, -50%) !important;
}

.modal-dialog .modal-content {
  border-radius: 6px;
  box-shadow: 0 40px 57px -25px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
}

.modal-dialog .modal-content .modal-header {
  padding: 0.5rem;
  border-bottom: none;
}

.modal-dialog .modal-content .modal-body .modal-box {
  padding: 0 30px 30px;
}

.modal-dialog .modal-content .modal-body .modal-box .modal-icon {
  width: 50px;
  margin-bottom: 20px;
}

.modal-dialog .modal-content .modal-body .modal-box .modal-title {
  margin-bottom: 20px;
}

.modal-dialog .modal-content .modal-body .modal-box .modal-title h2 {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  color: #494a7f;
  word-break: break-all;
}

.modal-dialog .modal-content .modal-body .modal-box .modal-title p {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #8f8faa;
}

.collectionOptions .options li {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #494a7f;
}

.collectionOptions {
  width: 75%;
  margin-bottom: 20px;
}

.collectionOptions .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collectionName {
  margin-bottom: 20px;
}

.collectionSearch {
  margin-bottom: 20px;
}

.collectionButtons .colorBtn {
  background: #555ff6;
  color: #fff;
}

.collectionButtons .emptyColorBtn {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.2px;
  text-align: center;
  color: #555ff6;
  text-transform: uppercase;
  background: transparent;
}

.searchConversations {
  border-radius: 4px;
  border: solid 1px #dde2ee;
  margin-bottom: 20px;
}

.searchConversations .searchPane {
  padding: 10px 15px;
  width: 100%;
  height: 54px;
  border-bottom: solid 1px #dde2ee;
}

.searchConversations .searchPane input::placeholder {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #8f8faa;
}

.checkboxText {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #8f8faa;
}

/* ====== btn group ===== */
.btnGroup {
  display: flex;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #dde2ee;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
}

.btnGroup i {
  font-size: 20px;
  cursor: pointer;
}

.btnGroup .coBtn {
  display: flex;
}

/* === collection search === */
.searchDiv {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.searchDiv .sidebar-list li {
  padding: 0 30px;
}

.searchDiv .sidebar-list li .sidebar-text {
  padding: 15px 0;
  border-bottom: 1px solid #dee2e6;
}

.searchDiv .sidebar-list li .sidebar-text .convers-list-text {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-collection input:focus {
  border-color: #555ff6;
}

.search-collection input:focus~.input-group-append span {
  border-color: #555ff6;
}

#createCollection .searchPane {
  display: flex;
}

#createCollection .search-element {
  font-size: 12px;
  align-items: center;
}

#createCollection #filterAccordian .card .card-header h2 button {
  height: 46px;
}

#createCollection .input-hide-search input {
  margin-top: 0;
}

.modal-open {
  padding-right: 0 !important;
}

.left-panel {
  position: fixed;
}

/* .left-panel .sidebar{
  overflow: scroll;
    height: 100vh;
} */
.left-panel+.start-all-conversation {
  margin-left: 320px;
  min-height: 100vh;
}

.left-panel .sidebar {
  padding-bottom: 100px;
}

.view {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
  margin-right: -17px;
  margin-bottom: -17px;
  padding-bottom: 70px;
}

.pinned-conversation .list-title .pushRight i {
  font-size: 18px;
}

.pinned-conversation .list-title .pushRight i::before {
  color: #8f8faa;
}

.curated-conversation .sidebar-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.curated-conversation .sidebar-list li .sidePinIcon i::before {
  color: #8f8faa;
}

.curated-conversation .sidebar-list li .sidePinIcon i {
  opacity: 0;
  transition: all 0.25s;
}

.curated-conversation .sidebar-list li:hover .sidePinIcon i {
  opacity: 1;
}

.curated-conversation .sidebar-list li .sidePinIcon i:hover::before {
  color: #555ff6;
}

.shared-conversation .sidebar-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shared-conversation .sidebar-list li .sidePinIcon i::before {
  color: #8f8faa;
}

.shared-conversation .sidebar-list li .sidePinIcon i {
  opacity: 0;
  transition: all 0.25s;
}

.shared-conversation .sidebar-list li:hover .sidePinIcon i {
  opacity: 1;
}

.shared-conversation .sidebar-list li .sidePinIcon i:hover::before {
  color: #555ff6;
}

.pinned-conversation .sidebar-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pinned-conversation .sidebar-list li .sidePinIcon i::before {
  color: #8f8faa;
}

.pinned-conversation .sidebar-list li .sidePinIcon i {
  opacity: 0;
  transition: all 0.25s;
}

.pinned-conversation .sidebar-list li:hover .sidePinIcon i {
  opacity: 1;
}

.pinned-conversation .sidebar-list li .sidePinIcon i:hover::before {
  color: #555ff6;
}

.sidebar .sidebar-list .sidebar-text .convers-list-text {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 260px;
}

.sideTextHighlight {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #0bd2c7;
  margin-left: 20px;
  height: 20px;
  border-radius: 4px;
  border: solid 1.5px #0bd2c7;
  padding: 2px 5px;
  word-break: keep-all;
  white-space: nowrap;
}

.sideTextHighlight.ruleBasedSideText {
  color: #38a7ed;
  border-color: #38a7ed;
}

/* ======== tooltip ========= */
.showTooltip {
  position: relative;
}

.showTooltip:hover .tooltipText {
  opacity: 1;
}

.showTooltip .tooltipText {
  height: 35px;
  border-radius: 5px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px #dde2ee;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  max-width: 212px;
  width: max-content;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.25s ease;
  opacity: 0;
}

.showTooltip .tooltipText span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #8f8faa;
}

.tooltipText::before {
  content: "";
  border-left: 6px solid transparent;
  border-bottom: 6px solid white;
  left: 50%;
  position: absolute;
  bottom: -4px;
  transform: rotate(45deg) translate(-50%, 0);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.09);
}

.SingleDatePicker .react-date-picker__wrapper {
  display: none;
}


/* modal calendar css */
#createCollection .date-custom-range.date-search-range {
  position: relative !important;
  height: 396px !important;
}

#createCollection .date-custom-range.date-search-range .cal-custom-range {
  width: 350px;
}

.SingleDatePicker button.react-calendar__tile.react-calendar__month-view__days__day {
  font-size: 12px;
}

.SingleDatePicker .react-calendar {
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.18);
}

.SingleDatePicker .react-date-picker__calendar {
  width: 314px;
}

.SingleDatePicker .react-calendar__navigation button {
  font-size: 14px;
}

.SingleDatePicker .date-buttons {
  padding: 0;
}

.collectionName.ruleBasedPart {
  margin-top: 15px;
}

#ruleBased .scroll {
  border: 1px solid #dde2ee;
  border-radius: 6px;
}

#createCollection #filterAccordian .card:last-child {
  border-bottom: none;
}

/* #createCollection #filterAccordian .card:last-child .card-header {
  border-bottom: none;
} */

#createCollection .react-calendar {
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.18);
}

.emptyBox.collectioEmpty {
  margin: 60px auto 30px;
}

#createCollection .searchPane {
  height: auto;
}

#createCollection .search-element {
  padding: 0;
}

#createCollection .search-element span {
  margin-bottom: 5px;
  margin-right: 5px;
}

/* additional css */
.start-all-conversation .page-title-row .page-title-box {
  flex-basis: 80%;
}

.start-all-conversation .page-title-row .btnGroup {}

@media (max-width: 1542px){
  .start-all-conversation .page-title-row .button-wrapper {
    width: 22%;
  }

}

@media (max-width: 1464px){
  .start-all-conversation .page-title-row .button-wrapper {
    width: 25%;
  }

}

@media (max-width: 1371px){
  .start-all-conversation .page-title-row .button-wrapper {
    width: 28%;
  }

}

@media (max-width: 1300px){
  .start-all-conversation .page-title-row .button-wrapper {
    width: 30%;
  }

}

.custom-row1 .left-panel .ScrollbarsCustom {
  height: 100vh !important;
}

#ruleBased .ScrollbarsCustom {
  height: 300px !important;
}

.comment-bar {
  position: fixed;
  right: 0;
  top: 0px;
  width: 360px;
  background: #fff;
  z-index: 2;
  height: 100vh;
}
.comment-bar.bar-in-search{
  top: 60px;
}
.transcript-bar{
  z-index: 3;
}
.transcript-bar .wrapperTop .icon-chat{
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.comment-bar .commentsContainer {
  height: 100%;
}

.comment-bar .commentWrap {
  height: 100%;
}

.comment-bar .commentWrapBody {
  height: calc(100vh - 126px);
  overflow: visible;
}
.bar-in-search.comment-bar .commentWrapBody{
  height: calc(100vh - 186px);
}

.comment-bar .msgWrap {
  max-width: 96%;
  flex-wrap: unset;
}

.comment-bar .msgNode {
  max-width: 90%;
  margin-left: 10px;
  flex-basis: unset;
}

.comment-bar .user .msgNode {
  margin-left: 0;
  margin-right: 10px;
}

.comment-bar .userIcon {
  flex-basis: unset;
}

.comment-bar .commentWrapHead h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #494a7f;
}
.comment-bar .transcriptWrapHead h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #494a7f;
}

.comment-bar .day {
  margin: 10px 0;
}

.comment-bar .commentsContainer {
  box-shadow: 0 40px 57px -25px rgba(0, 0, 0, 0.1);
  border: none;
}

.comment-bar .commentsContainer .ScrollbarsCustom {
  height: calc(100vh - 206px) !important;
}

.bar-in-search.comment-bar .commentsContainer .ScrollbarsCustom {
  height: calc(100vh - 290px) !important;
}

.bar-in-search.transcript-bar .commentsContainer .ScrollbarsCustom {
  height: calc(100vh - 222px) !important;
}

.comment-bar .commentWrapHead {
  position: relative;
}

.close-comment-bar{
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  z-index: 0;
}

/* .comment-bar {
  display: none;
} */

.comment-bar .msgNode.replyComment {
  max-width: 100%;
  margin: 0;
}
.comment-bar .commentWrapBody .transcriptChat{
  margin-bottom: 0;
}

.comment-bar .user .userIcon {
  display: inline-block;
}

/* ======== copy of comment bar ,  transcript bar == */

.transcript-bar {
  position: fixed;
  right: 0;
  top: 0px;
  width: 360px;
  background: #fff;
  z-index: 2;
  height: 100vh;
}
.transcript-bar.bar-in-search{
  top: 60px;
}
.transcript-bar{
  z-index: 3;
}
.transcript-bar .wrapperTop .icon-chat{
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.transcript-bar .commentsContainer {
  height: 100%;
}

.transcript-bar .commentWrap {
  height: 100%;
}

.transcript-bar .commentWrapBody {
  height: calc(100vh - 126px);
  overflow: visible;
}
.bar-in-search.transcript-bar .commentWrapBody{
  height: calc(100vh - 186px);
}

.transcript-bar .msgWrap {
  max-width: 96%;
  flex-wrap: unset;
}

.transcript-bar .msgNode {
  max-width: 90%;
  margin-left: 10px;
  flex-basis: unset;
}

.transcript-bar .user .msgNode {
  margin-left: 0;
  margin-right: 10px;
}

.transcript-bar .userIcon {
  flex-basis: unset;
}

.transcript-bar .commentWrapHead h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #494a7f;
}
.transcript-bar .transcriptWrapHead h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #494a7f;
}

.transcript-bar .day {
  margin: 10px 0;
}

.transcript-bar .commentsContainer {
  box-shadow: 0 40px 57px -25px rgba(0, 0, 0, 0.1);
  border: none;
}

.transcript-bar .commentsContainer .ScrollbarsCustom {
  height: calc(100vh - 206px) !important;
}

/* .bar-in-search.transcript-bar .commentsContainer .ScrollbarsCustom {
  height: calc(100vh - 290px) !important;
} */

.transcript-bar .commentWrapHead {
  position: relative;
}

.close-transcript-bar{
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  z-index: 0;
}

/* .transcript-bar {
  display: none;
} */

.transcript-bar .msgNode.replyComment {
  max-width: 100%;
  margin: 0;
}
.transcript-bar .commentWrapBody .transcriptChat{
  margin-bottom: 0;
}

.transcript-bar .user .userIcon {
  display: inline-block;
}
/* ======== copy of comment bar ,  transcript bar end == */

#createCollection .date-custom-range {
  flex-direction: row;
}

/* #createCollection #ruleBased .input-hide-search .comp-btn .switch {
  top: 4px;
  height: 20px;
}

#createCollection #ruleBased .input-hide-search .comp-btn .switch .switch-handle {
  width: 22px;
  height: 22px;
  top: 2px;
  left: 2px;
} */

/*create button*/
.crt-collection-btn{
  background: transparent;
    border: navajowhite;
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #555ff6;
    font-weight: 600;
}
.crt-collection-btn:focus{
  border: none;
  box-shadow: none;
  outline: none;
}
.crt-collection-btn i{
  font-weight: 600;
}
.input-create-collection .newCollection {
  display: flex;
}
.input-create-collection .newCollection input{
  flex: 1;
  margin-right: 10px; 
  height: 46px;
}

.pause.coBtn{
  cursor: pointer;
}

.bar-in-search .commentsContainer .commentBox{
  bottom: 60px;
}

.remove-flex-basis{
  flex-basis: initial !important;
}
.search-input-user{
  display: inline-block;
  width: 270px;
  z-index: 1;
  animation-name: slide_in;
  animation-duration: 1s;
  /* font-size: 12px; */
}
/* / search modal css / */
#searchData .modal-dialog{
  max-width: 990px;
}
#searchData .start-conversation-row{
  border: 1px solid #dde2ee;
  margin-bottom: 8px !important;
  margin-left: 25px
}
#searchData .start-conversation-row .custom-checkbox{
  display: inline-block;
}
#searchData .start-conversation-row{
  margin-left: 26px;
}
#searchData .start-conversation-row .custom-checkbox{
  position: absolute;
  left: -36px;
}
/* #searchData .ScrollbarsCustom {
  min-height: 128px;
  max-height: 245px;
} */
.flex-1{
  flex: 1;
}

#ruleBased .searchConversations{
  position: relative;
    margin-top: 46px;
}
#ruleBased .filter-head{
  position: absolute;
  top: -46px;
  width: 100%;
  padding: 10px 0 !important;
  border: none !important;
}
.mb3{
  margin-bottom: 3px;
}